@model IEnumerable<Lab03_BuiNguyenTruongGiang.Models.Course>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <ul>
        @foreach (var item in Model)
            {
                <li>
                    @item.DateTime - @item.Lecturer.Name
                </li>
            }
    </ul>
</div>