@model IEnumerable<Lab03_BuiNguyenTruongGiang.Models.Course>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <ul class="course">
        @foreach (var item in Model)
            {
                <li>
                    <div class="date">
                        <div class="month">
                            @item.DateTime.ToString("MM")
                        </div>
                        <div class="day">
                            @item.DateTime.ToString("dd")
                        </div>
                    </div>
                    <div class="details">
                        <span class="lecturer">
                            @item.Lecturer.Name
                        </span>
                        <span class="category">
                            @item.Category.Name
                        </span>
                    </div>
                </li>
            }
    </ul>
</div>